@charset "UTF-8";

	form{
		width: 600px;
		margin: 0 auto;
	}

	table{
		width: 600px;
		
		border-top: solid 2px black;
		padding: 5px 0;
		
	}
	
	td{
		border-bottom: solid 1px gray;
		padding: 5px;
	}


	td input{
		width: 400px;
		height: 30px;
	
	}
	
	td textarea{
		width: 400px;
		resize: none;
	}

	.btnbox{
		text-align: right;
	}
	
	.btnbox input{
		padding: 5px 20px;
		margin: 20px 5px;
	}
	
	
	
