@charset "UTF-8";


.container{
	overflow: auto;
	/* scroll-snap-type: y;	부모요소 스크롤 스냅 : y축 세로 */
	/* scroll-snap-type: x;	부모요소 스크롤 스냅 : x축 가로 */
	/* scroll-snap-type: y proximity; 경계선 근처로 움직였을때 부드럽게 움직임 */
	scroll-snap-type: y mandatory; /* 어느 지점에서든 다음 영역으로 빠르게 움직임 */
	
	height: 100vh;
	
}

.area{
	scroll-snap-align: center; 
	/* 자식요소 멈추는 기준점 start 상단 end 하단 center 중앙 */
	
	height: 70vh;
}


/* 동일한 클래스가 많을때 .클래스명:nth-child(인덱스) */

.area:nth-child( even ){
	background-color: #4f4f9d;
}

.area:nth-child( odd ){
	background-color: #ffaa21;
}
