@charset "UTF-8";

*{
	color: white;
}


.container{
	
	height: 100vh;
	scroll-snap-type: y mandatory;
	overflow: auto;
}

section{
	scroll-snap-align: start;
	
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.con_1{
	background-color: #1c3761;
}




.title{
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 5rem;
	padding-top: 5rem;
}
	
.bg_img{
	height: 500px;
	background-image: url("images/about_bg_pc.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

p{
	text-align: center;
	margin-top: 30px;
}



/* 2구역 */

.con_2{
	background-image: url("images/con_2_dog.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

table, tr, td, th{
	width: 30%;
	border: 1px solid white;
	text-align: center;
	margin: 0 auto;
	line-height: 2;
}

table{
	margin-top: 30px;
}



/* 3구역 */

.con_3{
	background-image: url("images/con_3_corgi.jpg");

	
}


.con_adr{
	text-align: center;
	line-height: 1.5;
	font-size: 2rem;
	margin-top: 50px;
	
}




/* 미디어 쿼리 */


@media(max-width: 700px){
	.title{
	font-size: 4rem;
	color: white;
	}
}
