@charset "UTF-8";

	body{
		background-color: #f5f6f7;}
	
	.logobox{
		width: 200px;
		height: 80px;
		margin: 30px auto;
	}
	
	.naver_logo_img img{
		width: 100%;
		text-align: center;
	}
	
	
	form{
		
		width: 600px;
		margin: 0 auto;
		text-align: center;
	}


	li{
		list-style-type: none;
		
	}
	
	.cols1{
		margin: 20px 0;
	}
	.cols1 li{
		padding-bottom: 10px;
	
	}
	
	.col1{
	 	font-size: 10px;
	 	font-weight: bold;
	 	text-align: left;
	 	padding-left: 110px;
	}
	

	.hb1 input{
		width: 90px;
	}
	
	.m{
		width: 90px;
		height: 40px;
	}
	
	li .hb1{
		display: inline-block;
	}
	
	
	input, select{
		width: 300px;
		height: 36px;
	}

	
	.but button{
		display : block;
		margin-left: 190px;
		font-size: 10pt;
		color: white;
		font-weight: bold;
		border: 0px;
		width: 300px;
		height: 50px;

		
	}
	
	
	.hp input{
		width: 200px;
		text-align: left;
	}

		
	.hp button{

		font-size: 5pt;
		color: white;
		width: 80px;
		border: 0px;
		height: 40px;
	}

	.select{
		width: 308px;
	}
	
	
	.hp{
		text-align: left;
		margin-left: 110px;
	}

	