@charset "UTF-8";

*{
	font-family: "맑은고딕";
	color: #181818;
}

.container{
	width: 1500px;
	height: 800px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 50px;
}

h3{
	text-align: center;
}

.box1, .box2, .box3{
	margin: 5px;
	float: left;
}

.box1{
	width: 380px;
}

.box1 input{
	border: none;
	width: 270px;
	height: 25px;
	outline: none;
	padding-left: 10px;
}

.box1 td:nth-child(1){
	padding-left: 15px;
	padding-right: 10px;
	font-size: 14px;
	font-weight: bold;
	background: #f1f1f1;
	border: 1px solid #e5e5e5;
	
}

.box1 td:nth-child(2){
	border: 1px solid #e5e5e5;
}

#b_content{
	height: 200px;
}

.box1_btn{
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}

table{
	border-collapse: collapse;
}

.box2{
	width: 400px;
}


.box2 th, .box3 th{
	width : 100px;
	height : 35px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background: #f1f1f1;

}

.box2 td, .box3 td{
	height : 45px;
	font-size: 13px;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;

}

.box3{
	width: 600px;
	margin-left: 20px;
}

button{
	border: none;
	background: #120253;
	color: #fff;
	width: 100px;
	height: 40px;
	font-weight: bold;
}

.box3_pw{
	font-size: 14px;
	margin-top: 15px;
}

#b_pw2{
	margin-left : 10px;
	padding-left : 5px;
	border: 1px #dadada solid;
	width: 150px;
	height: 25px;
	outline: none;
}


.box3_btn, .reply_btn{

	margin-top: 5px;
	margin-right: 10px;
	float: right;
}


.box4{
	margin-top: 70px;
	margin-left: 25px;
	width: 550px;
	height: 120px;
	border: 1px solid #e5e5e5;
}
.box4_title{
	background: #f1f1f1;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	font-weight: bold;
}

#view_reply{
	height: 70px;
	margin-top: 10px;
	margin-left : 20px;
	margin-right : 20px;
	margin-bottom: 8px;
	
}







