@charset "UTF-8";


.post_title{
	padding-bottom: 50px;	/* 선 굵기 조절 가능 */
	background-image: linear-gradient(45deg, #fff 30%, #ccc 30%, #ccc 50%,
						#fff 50%, #fff 80%, #ccc 80%, #ccc 100%);
						/* 배경 그라데이션 */
						
	background-size: 6px 6px;
	margin-bottom: 1.5rem;
}

.post_title h2{
	background-color: #ffffff;
	padding: 0 .5rem .875rem;
	font-size: 1.5rem;
	font-family: "맑은고딕";
	font-weight: 500;
	line-height: 1.5
}


.post_title a{
	color: #949087;
	text-decoration: none;
}


.post_img{
	width: 100%;
	height: 260px;
	object-fit: cover;
	border-radius: 40% 70% 50% 30% / 50%;
		 	/* 가로 : 각각의 사이즈 / 세로 : 50% 통일 */
	
	
}

.post_thumb{
	position: relative;
}


.btn a{
	color: #ffffff;
	padding: 10px 20px;
	background-color: #eda1a1;
	
		/* 그림자 : 1. box-shadow 2. text-shadow */
	box-shadow: 0 0 0 5px #eda1a1;
		/* x축, y축, 흐림정도, 확대/축소 정도*/
	
	border: 2px dashed #e38787;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
}

.btn a:hover {
	color: #ffffff;
	background-color: #e38787;
	box-shadow: 0 0 0 5px #e38787;
	border: 2px dashed #eda1a1;
}

/* --------------------------------------- */




/* ---- 가상요소 글머리 만들기 ---- */

article ul li::before {
	content: ''; 
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: rgb(255, 0, 128);
	display: inline-block;
	margin: 0 8px 2px 0;

}
ol li{
	/* 요소의 연속 값을 세는 속성 : 리스트 아이템을 쓸때마다 늘어남 */
	counter-increment: list;
}


article ol li::before {
	content: counter(list);
 	color: #93dfb8;
 	display: inline-block;
 	margin-right: 8px;
}


/* ---- p. 135 인용문 ---- */

article blockquote{
	position: relative;		/* 부모 요소에 필수로 써야 자식 요소에서 앱솔루트 사용 가능  */
	padding: 2rem;
	margin: 20px 0;
}

article blockquote::before, article blockquote::after{
	position: absolute;
	font-family: 'Noto Sans KR', sans-serif;
	
	width: 40px;
	height: 40px;

}


article blockquote::before {
	content: '';	/* 아이콘 코드 */
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	top: 0; left: 0;	/* 왼쪽 상단에 붙이기 */
}

article blockquote::after{
	content:'';	/* 아이콘 코드 */
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
	right: 0; bottom: 0;	/* 오른쪽 하단에 붙이기 */
}


/* ---- p. 137 페이지네이션 ---- */

.pagination{
	display: flex;	/* 하위요소 가로 배치 */
	justify-content: center;	/* 하위요소 가로 중앙 배치 */
	font-family: "맑은고딕";
	font-size: 1.5rem;
	text-align: center;
}

.pagination a{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	padding-top: 4px;
	margin: 0 6px;
	display: inline-block;
}



.pagination .current{	/* 현재 페이지 번호 강조 색상 */
	background: #ccc;
	color: #fff;
}

.pagination a:hover{	/* 페이지에 마우스를 올렸을때 변하는 색상 */
	background: #93d8d0;
	color: #fff;
}


/* ---- 사이드바 ---- */

.side_box{
	border: 1px solid #ccc;		/* 기본테두리 */
	border-radius: 6px;
	outline: 2px solid pink;	/* 바깥 테두리 */
	outline-offset: 4px;		/* 기본 테두리와 바깥 테두리와의 간격 */
	
	margin-bottom: 4rem;
	padding: 0.875rem;
	position: relative;
}


.side_box::before {
	width: 2rem;
	height: 2rem;
	text-align: center;
	top: -1rem;	/* 테두리 겹치기를 위해 살짝 올린 것 */
	left: 0;
	right: 0;
	margin: 0 auto;
	background: #fff;	
	
	
	content:'\f1b0';
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	position: absolute;
	
	color: rgb(255, 0, 128);
}


















/* --------------------------------------- */

/* 		
		미디어쿼리 : 디바이스 크기에 따라 css 설정

		미디어쿼리 브레이크 포인트 설정
		min-widht : 600px; : 최소 가로사이즈 600px
		[ 600px 이상에서 사용되는 css ]
		
		max-width : 600px; : 최대 가로사이즈 600px
		[ 600px 이하에서 사용되는 css]
		
		min-height : 600px; : 최소 세로사이즈 600px
		[ 600px 이상에서 사용되는 css ]
		
		max-height : 600px; : 최대 세로사이즈 600px
		[ 600px 이하에서 사용되는 css ]
*/


@media(min-width: 600px){	/* 600px 이상일때 반응형 */

	.container{
		display: flex;
		justify-content: space-between;
		margin-bottom: 4rem;
	}
	
	main{
		width: 68%;
	}
	
	aside{
		width: 26%;
	}

	.post_img{	/* 이미지 고정 사이즈 -> 비율이 깨짐 */
		width: 220px;
		height: 180px;
		}

	.post_thumb{
		margin: 0 3rem 1rem 0;
		shape-outside: circle();
		float: left;
	}







}


















