@charset "UTF-8";

.main_menu{
	display: flex;	/* 하위 태그들이 가로 배치됨 */
	justify-content: center;		/* flex 가로 정렬 */
}

.main_menu a{
	padding: 1rem;
	margin: 1rem;
	color: #8080ff;
}

/* 메뉴 */
.has_menu{
	position: relative;
}


/* 서브메뉴 */
.sub_menu{
	position: absolute;
	top: 2rem;
	left: 1rem;
	display: none; /* 숨기기 */
}

.sub_menu a{
	margin: 1px;
	width: 180px;
}

.main_menu:hover .sub_menu{	/* 해당 메뉴에 마우스를 올렸을때 display가 보이게 */
	display: block;
}


