@charset "UTF-8";


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* 보더 테두리 어디서부터 할꺼니? */
	border: solid 1px red;
}
li{
	list-style-type: none;
}

.box{
	clear: both;	/* 플로팅 제거 */
	width: 80%;
	height: 50%;
	margin: 0 auto;
	background-color: #eeeeee;
}


